/* Base styles */
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 70px;
    margin: 50px 130px;
  }
  
  .about img {
    border-radius: 100%;
    max-width: 300px;
  }
  
  .about .profile_img {
    border: 4px solid white;
  }
  
  .about-title {
    position: relative;
  }
  
  .about-left {
    position: sticky; /* Make the element sticky */
    top: 0; /* Adjust the top position as needed */
    height: 60vh; /* Ensure the height covers the viewport */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .about-left img {
    border: 4px solid white;
    max-width: 100%; /* Ensure it scales properly */
    height: 200px;
    width: 500px; /* Adjust as needed */
  }
  
  .about-title h1 {
    padding: 0px 30px;
    font-weight: 500;
    font-size: 80px;
    margin-top: 50px;
  }
  
  .about-title img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
  }
  
  .about-section {
    display: flex;
    gap: 80px;
  }
  
  .about-right {
    display: flex;
    flex-direction: column;
    gap: 80px;
  }
  
  .about-para {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 22px;
    font-weight: 500;
  }
  
  .full-paragraph {
    display: block;
    text-align: justify;
    margin: 0 auto;
  }
  
  .short-paragraph {
    display: none;
  }
  
  .about-skills {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .about-skill {
    display: flex;
    flex-direction: column; /* Changed from row to column */
    gap: 10px;
    align-items: flex-start; /* Aligns items to the start */
    transition: 0.3s;
  }
  
  .about-skill:hover {
    transform: scale(1.05);
    transition: 0.3s;
  }
  
  .about-skill p {
    min-width: 150px;
    font-size: 22px;
    font-weight: 500;
  }
  
  .about-skill div {
    outline: none;
    border: none;
    height: 8px;
    border-radius: 50px;
    background: linear-gradient(264deg, #df8908 -5.09%, #b415fb) !important;
    /* Adjust width to 100% of the parent container */
    width: 100%;
  }
  
  .about-achievements {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 80px;
  }
  
  .about-achievement {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: 0.5s;
  }
  
  .about-achievement:hover {
    transform: scale(1.12);
    transition: 0.5s;
  }
  
  .about-achievement h1 {
    font-size: 60px;
    font-weight: 700;
    background: linear-gradient(270deg, #df8908 50.41%, #b415ff 90%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .about-achievement p {
    font-size: 22px;
    font-weight: 500;
  }
  
  /* Media query for smaller screens */
  @media (max-width: 900px) {
    .about {
      gap: 80px;
      margin: 50px 70px;
      align-items: start;
    }
  
    .about-title h1 {
      font-size: 50px;
      padding: 0;
    }
  
    .about-title img {
      width: 130px;
      right: -20px;
    }
  
    .about-section {
      flex-direction: column;
    }
  
    .about-left {
      display: none;
    }
  
    .about-right {
      width: 100%;
    }
  
    .about-para {
      font-size: 18px;
      line-height: 32px;
      text-align: center; /* Center align the text for mobile view */
    }
  
    .full-paragraph {
      display: none;
    }
  
    .short-paragraph {
      display: block;
      text-align: justify;
      margin: 0 auto;
    }
  
    .about-skills {
      /* Adjustments for smaller screens */
      flex-direction: column;
      gap: 10px;
    }
  
    .about-skill {
      /* Adjust skill bars to fit smaller screens */
      align-items: stretch; /* Stretch items to full width */
    }
  
    .about-skill p {
      font-size: 20px;
    }
  
    .about-skill div {
      height: 6px; /* Adjust height for mobile view */
      width: 100%; /* Ensure skill bar stretches full width */
    }
  
    .about-achievements {
      flex-direction: row;
      gap: 20px;
      align-items: center;
      justify-content: center;
    }
  
    .about-achievement {
      width: 100%;
      text-align: center;
      gap: 10px;
    }
  
    .about-achievement h1 {
      font-size: 34px;
      font-weight: 700;
    }
  
    .about-achievement p {
      font-size: 18px; /* Adjust font size if needed */
      line-height: 22px; /* Adjust line-height for better spacing */
      text-align: center;
    }
  
    .about-achievement p::before {
      content: attr(data-short);
      display: block;
      font-size: 22px;
      font-weight: 500;
    }
  }
  