.home{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}

.home img{
    margin-top: 150px;
}

.home h1{
    text-align: center;
    width: 70%;
    font-size: 65px;
    font-weight: 900;
}

.home h1 span{
    background: linear-gradient(270deg, #DF8908 10%, #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home p{
    width: 50%;
    text-align: start;
    font-size: 21px;
    line-height: 35px;
}

.home-action{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 50px;
}

.home img{
    border-radius: 100%;
    max-width: 400px;
    
}

.home-connect{
    padding: 20px 60px;
    border-radius: 50px;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.08%);
    cursor: pointer;
}

.home-connect:hover{
    border: 2px solid white;
}

.home-resume{
    padding: 20px 70px;
    border-radius: 50px;
    border: 2px solid #FFF;
    cursor: pointer;
}

.resume-link {
    text-decoration: none;
    color: white;
}

.resume-link:hover {
    color: #B415FF;
}

.home-resume:hover{
    border-color: #B415FF;
}


@media(max-width:900px){
    .home img{

        margin-top: 100px;
        width: 260px;
    }

    .home h1{
        width: 90%;
        font-size: 40px;
    }

    .home p{
        width: 60%;
        font-size: 17px;
        line-height: 30px;
        margin: 8px 0px;
    }

    .home-action{
        gap: 16px;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 40px;
    }

    .home-connect{
        padding: 20px 30px;
        border-radius: 40px;

    }

    .home-resume{
        padding: 20px 50px;
        border-radius: 40px;
    }
}